# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
    <ul>
<li>List popular languages for Data Science</li>
<li>Data Science Tools</li>
<li>Some of the commonly used libraries used by Data Scientists include</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
    <ol>
<li>Numpy</li>
<li>Pandas</li>
<li>Tensorflow</li>
</ol>

Data Science Tools
------------------
RStudio 
Apache Spark 
TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
a=10
b=20
a+b

30

In [6]:
a=5
b=7
b-a+10

12

 This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

In [8]:
min = int(input("Enter Minutes :--> "))
print("Hour : Minute :--> ", int(min/60), " : ", min % 60)

Enter Minutes :--> 200
Hour : Minute :-->  3  :  20

## Author
Hasancan Ekin